body {
    font-family: sans-serif;
    background-color: #181a1b;
    background-image:
        url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='48' height='48'><text x='0' y='32' font-size='32' opacity='0.05'>🦎</text></svg>"),
        linear-gradient(180deg, #0e0e0e 0%, #292929 100%);
    background-repeat: repeat, no-repeat;
    background-size: 48px 48px, cover;
    margin: 0;
    padding: 0;
    color: #f3f3f3;
    min-height: 100vh;
}

#app {
    background-color: #111213;
    padding: 0 40px 32px 40px;
    border-radius: 10px;
    border-width: 0;
    box-shadow: 0 2px 8px rgba(0,0,0,0.25);
    margin: 32px auto 0 auto;
    max-width: 600px;
    width: 100%;
    position: relative;
}

.navbar {
    background: #232526;
    border-radius: 8px 8px 0 0;
    padding: 12px 0 8px 0;
    display: flex;
    gap: 0;
    justify-content: center;
    margin-bottom: 18px;
    margin-left: -40px;
    margin-right: -40px;
}

.nav-btn {
    background: none;
    border: none;
    color: #ffb300;
    font-weight: 600;
    font-size: 1.1rem;
    padding: 8px 20px;
    border-radius: 0;
    cursor: pointer;
    transition: background 0.15s, color 0.5s;
    margin: -12px 0 -8px 0;
}

.nav-btn.active, .nav-btn:hover {
    background: #181a1b;
    color: #ffd54f;
    border-radius: 0;
    padding: 20px 20px 22px 20px;
}

.nav-btn:first-child {
    margin-left: 0;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 0;
}

.nav-btn:last-child {
    margin-right: 0;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 0;
}

h1 {
    margin: 0 0 18px 0;
    font-size: 2rem;
    font-weight: 700;
    color: #f3f3f3;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 14px;
    font-size: 1.08rem;
}

li a {
    color: #ff9800;
    text-decoration: none;
    font-weight: 600;
    transition: color 0.5s;
}

li a:hover {
    color: #ffd54f;
    text-decoration: underline;
}

li span {
    color: #bdbdbd;
    font-size: 0.98rem;
    margin-left: 8px;
}

#site-title {
    font-size: 2rem;
    font-weight: 800;
    color: #e0e0e0 !important;
    margin-top: 32px;
    padding-top: 30px;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 600px;
    width: 100%;
    text-align: left !important;
    padding-left: 0;
    display: block;
}

#site-tagline {
    font-size: 0.98rem;
    color: #bdbdbd;
    margin: 10px 0 28px 0;
    max-width: 600px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: left;
    padding-left: 0;
    letter-spacing: 0.01em;
    font-weight: 400;
    font-style: italic;
}

.footer-oldschool {
    margin-top: 15px;
    color: #75c896;
    font-size: 10px;
    font-style: italic;
    text-align: left;
    max-width: 600px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 0;

} 
